.formButton {
    background-color: #f6ab35;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

.button1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #3498db;
}

.form {
    float: right;
}

.margins {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.formButton {
    background: #3c4a6b;
}

.formText {
    background: #384959;
    border-color: #3c4a6b;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;

}

.courses_details_area {
    padding: 100px 0 0px;
}

.courses_description_content {
    color: #6f6f6f;
    padding: 25px 0 20px;
}