{% extends "layout.html" %}

    {% block mainContent %}
    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Blog</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- ========================== Latest Blog Area Start ========================== -->
    <section class="latest_blog_news_area blog section_padding_100">
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-4">
                    <!-- Single Blog Post Area Start -->
                    <div class="single_latest_news_area clearfix wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single_latest_news_img_area">
                            <!-- Single Blog Post Image Start -->
                            <img src="static/img/news-img/blog.jpg" alt="">
                            <!-- Single Blog Post Published Date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>

                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- Single Blog Post Title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- Single Blog Post excerpt -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post Area End -->

                <div class="col-12 col-lg-4">
                    <!-- Single Blog Post Area Start -->
                    <div class="single_latest_news_area clearfix wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single_latest_news_img_area">
                            <!-- Single Blog Post Image Start -->
                            <img src="static/img/news-img/blog-2.jpg" alt="">
                            <!-- Single Blog Post Published Date -->
                            <div class="published_date">
                                <p class="date">25</p>
                                <p class="month">Jan</p>
                            </div>

                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- Single Blog Post Title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- Single Blog Post excerpt -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post Area End -->

                <div class="col-12 col-lg-4">
                    <!-- Single Blog Post Area Start -->
                    <div class="single_latest_news_area clearfix wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single_latest_news_img_area">
                            <!-- Single Blog Post Image Start -->
                            <img src="static/img/news-img/blog.jpg" alt="">
                            <!-- Single Blog Post Published Date -->
                            <div class="published_date">
                                <p class="date">01</p>
                                <p class="month">Aug</p>
                            </div>

                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- Single Blog Post Title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- Single Blog Post excerpt -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post Area End -->

                <div class="col-12 col-lg-4">
                    <!-- Single Blog Post Area Start -->
                    <div class="single_latest_news_area clearfix wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single_latest_news_img_area">
                            <!-- Single Blog Post Image Start -->
                            <img src="static/img/news-img/blog-2.jpg" alt="">
                            <!-- Single Blog Post Published Date -->
                            <div class="published_date">
                                <p class="date">25</p>
                                <p class="month">Jan</p>
                            </div>

                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- Single Blog Post Title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- Single Blog Post excerpt -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post Area End -->

                <div class="col-12 col-lg-4">
                    <!-- Single Blog Post Area Start -->
                    <div class="single_latest_news_area clearfix wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single_latest_news_img_area">
                            <!-- Single Blog Post Image Start -->
                            <img src="static/img/news-img/blog-3.jpg" alt="">
                            <!-- Single Blog Post Published Date -->
                            <div class="published_date">
                                <p class="date">14</p>
                                <p class="month">Sep</p>
                            </div>

                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- Single Blog Post Title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- Single Blog Post excerpt -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post Area End -->

                <div class="col-12 col-lg-4">
                    <!-- Single Blog Post Area Start -->
                    <div class="single_latest_news_area clearfix wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single_latest_news_img_area">
                            <!-- Single Blog Post Image Start -->
                            <img src="static/img/news-img/blog.jpg" alt="">
                            <!-- Single Blog Post Published Date -->
                            <div class="published_date">
                                <p class="date">14</p>
                                <p class="month">Sep</p>
                            </div>

                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- Single Blog Post Title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- Single Blog Post excerpt -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post Area End -->

                <div class="col-12 col-lg-4">
                    <!-- Single Blog Post Area Start -->
                    <div class="single_latest_news_area clearfix wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single_latest_news_img_area">
                            <!-- Single Blog Post Image Start -->
                            <img src="static/img/news-img/blog-2.jpg" alt="">
                            <!-- Single Blog Post Published Date -->
                            <div class="published_date">
                                <p class="date">25</p>
                                <p class="month">Jan</p>
                            </div>

                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- Single Blog Post Title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- Single Blog Post excerpt -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post Area End -->

                <div class="col-12 col-lg-4">
                    <!-- Single Blog Post Area Start -->
                    <div class="single_latest_news_area clearfix wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single_latest_news_img_area">
                            <!-- Single Blog Post Image Start -->
                            <img src="static/img/news-img/blog-3.jpg" alt="">
                            <!-- Single Blog Post Published Date -->
                            <div class="published_date">
                                <p class="date">14</p>
                                <p class="month">Sep</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- Single Blog Post Title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- Single Blog Post excerpt -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post Area End -->

                <div class="col-12 col-lg-4">
                    <!-- Single Blog Post Area Start -->
                    <div class="single_latest_news_area clearfix wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single_latest_news_img_area">
                            <!-- Single Blog Post Image Start -->
                            <img src="static/img/news-img/blog.jpg" alt="">
                            <!-- Single Blog Post Published Date -->
                            <div class="published_date">
                                <p class="date">14</p>
                                <p class="month">Sep</p>
                            </div>
                        </div>
                        <div class="single_latest_news_text_area">
                            <!-- Single Blog Post Title -->
                            <div class="news_title">
                                <a href="#"><h4>Improve Your Computer Skills, Sign Up For Free Online Courses</h4></a>
                            </div>
                            <!-- Single Blog Post excerpt -->
                            <div class="news_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias adipisci voluptate qui laudantium vitae? Impedit pariatur molestiae officia saepe atque. Illum quos maxime maiores, inventore eveniet? Iure, fuga quis. Magni.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Post Area End -->

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Pagination Area Start -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================== Latest Blog Area End ========================== -->

    {% endblock %}
