{% extends "layout.html" %}

    {% block mainContent %}
    <!--  ===================== Header Area End ===================== -->

    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Course Detail</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Course Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- ============================== Courses Details Area Start ============================== -->
    <section class="courses_details_area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-8">

                    <!-- Courses Details Thumb Area Start -->
                    <div class="courses_details_thumb">
                        <img src="static/img/course-img/softwareengineer-2.jpg" alt="">
                        <!-- Courses Details Thumb Caption Area Start -->
                    </div>
                    <!-- Courses Details Thumb Area End -->

                    <!-- Courses Overview -->
                    <div class="courses_overview">
                        <h5>Courses Overview</h5>
                    </div>

                    <!-- Courses Overview Content -->
                    <div class="couress_overview_content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt, reiciendis corrupti maiores voluptas dicta nesciunt sed accusamus aperiam inventore? Autem tempore ratione assumenda modi, fugiat at beatae nihil simili. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In reprehenderit consectetur sed dolores voluptatem culpa necessitatibus debitis repudiandae, architecto sint eum fugiat corporis facilis totam accusantium est omnis rem ex!</p>
                    </div>

                    <!-- Courses Description -->
                    <div class="courses_description">
                        <h5>Course Description</h5>
                    </div>

                    <!-- Courses Description Content -->
                    <div class="courses_description_content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique ipsum quaerat tempore, eum, iusto cupiditate? Illum quis, maxime necessitatibus? Voluptatibus soluta maxime odio neque assumenda. Eaque dignissimos iste asperiores veritatis neque?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique ipsum quaerat tempore, eum, iusto cupiditate? Illum quis, maxime necessitatibus? Voluptatibus soluta maxime odio neque assumenda. Eaque dignissimos iste asperiores veritatis neque?</p>
                    </div>

                    <!-- Courses Description -->
                    <div class="courses_description">
                        <h5>Related Courses</h5>
                    </div>

                    <!-- Single Courses Area Start -->
                    <div class="row">

                        <!-- Single Courses Area Start -->
                        <div class="col-12 col-lg-6">
                            <div class="single_courses related">
                                <div class="single_courses_thumb">
                                    <img src="static/img/course-img/softwareengineer.jpg" alt="">
                                    <div class="hover_overlay">
                                        <div class="links">
                                            <a class="magnific-popup" href="static/img/course-img/softwareengineer.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Courses Image Area End -->
                                <div class="single_courses_desc">
                                    <!-- Single Courses Title Area End -->
                                    <div class="title">
                                        <a href="#"><h5>Introduction to Family Engagement in Education</h5></a>
                                        <p><i class="fa fa-user" aria-hidden="true"></i> Md Nazrul Islam</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eveniet assumenda repudiandae.</p>
                                    </div>
                                    <!-- Single Courses Blog Title Area End -->
                                    <div class="price_rating_area">
                                        <div class="price">
                                            <span>$199</span>
                                        </div>
                                        <div class="seat">
                                            <i class="fa fa-users" aria-hidden="true"><span>90</span></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Area End -->

                        <!-- Single Courses Area Start -->
                        <div class="col-12 col-lg-6">
                            <div class="single_courses related">
                                <div class="single_courses_thumb">
                                    <img src="static/img/course-img/softwareengineer.jpg" alt="">
                                    <div class="hover_overlay">
                                        <div class="links">
                                            <a class="magnific-popup" href="static/img/course-img/softwareengineer.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Courses Image Area End -->
                                <div class="single_courses_desc">
                                    <!-- Single Courses Title Area End -->
                                    <div class="title">
                                        <a href="#"><h5>Introduction to Family Engagement in Education</h5></a>
                                        <p><i class="fa fa-user" aria-hidden="true"></i> Md Nazrul Islam</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eveniet assumenda repudiandae.</p>
                                    </div>
                                    <!-- Single Courses Blog Title Area End -->
                                    <div class="price_rating_area">
                                        <div class="price">
                                            <span>$199</span>
                                        </div>
                                        <div class="seat">
                                            <i class="fa fa-users" aria-hidden="true"><span>90</span></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Area End -->
                    </div>
                    <!-- Single Courses Area End -->
                </div>

                <!-- ==================== Sidebar Area Start ==================== -->
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="sidebar_area">

                        <!-- Single Sidebar Content Start -->
                        <div class="single_sidebar_content">
                            <div class="row">

                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                        <p>Fee:</p>
                                        <p>$315</p>
                                    </div>
                                </div>

                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <p>Total Seats:</p>
                                        <p>1500 Seats</p>
                                    </div>
                                </div>
                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        <p>Start:</p>
                                        <p>09 Nov’16</p>
                                    </div>
                                </div>
                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                        <p>End:</p>
                                        <p>28 Feb’17</p>
                                    </div>
                                </div>
                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <p>Location:</p>
                                        <p>Campus</p>
                                    </div>
                                </div>
                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <p>Duration :</p>
                                        <p>3 month</p>
                                    </div>
                                </div>

                                <!-- Single Option -->
                                <div class="col-12 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <h5><a href="dummy-data/worksheet.pdf" download>Download Full Course Plan</a></h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Single Sidebar Content End -->

                        <!-- Single Sidebar Content Start -->
                        <div class="single_sidebar_content">
                            <!-- Event Share Links -->
                            <div class="event_share_links">
                                <div class="single_share_link">
                                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                                <div class="single_share_link">
                                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </div>
                                <div class="single_share_link">
                                    <a href=""><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                </div>
                                <div class="single_share_link">
                                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                                <div class="single_share_link">
                                    <a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Sidebar Content End -->
                    </div>
                </div>
                <!-- Sidebar Area End -->
            </div>
        </div>
    </section>
    <!-- =============== Courses Details Area End =============== -->

{% endblock %}