{% extends "layout.html" %} {% block mainContent %}
<!--  ===================== Header Area End ===================== -->

<!-- Breadcumb area start -->
<section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcumb_section">
                    <!-- Breadcumb page title start -->
                    <div class="page_title">
                        <h3>Course Detail</h3>
                    </div>
                    <!-- Breadcumb page pagination start -->
                    <div class="page_pagination">
                        <ul>
                            <li><a href="index">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li>Course Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcumb area end -->

<!-- ============================== Courses Details Area Start ============================== -->
<form action="create_course" method="POST" enctype="multipart/form-data">
    <section class="courses_details_area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-8">

                    <!-- Courses Details Thumb Area Start -->
                    <div class="courses_details_thumb">
                        <input type="file" name="image" placeholder="Add Image" />

                        <!-- Courses Details Thumb Caption Area Start -->
                    </div>
                    <!-- Courses Details Thumb Area End -->

                    <!-- Courses Overview -->
                    <div class="courses_overview">
                        <h5>Courses Overview</h5>
                    </div>

                    <!-- Courses Overview Content -->
                    <div class="couress_overview_content">
                        <input type="text" name="title" placeholder="Add Title" />

                   <!-- Course Teacher -->
                    <div class="courses_overview">
                        <h5>Courses Teacher</h5>
                    </div>

                    <!-- Course Teacher -->

                    </div>
                    <div class="couress_overview_content">
                        <input type="text" name="teacherID" placeholder="Add Teacher" />


                    </div>

                    <!-- Courses Description -->
                    <div class="courses_description">
                        <h5>Course Description</h5>
                    </div>

                    <!-- Courses Description Content -->
                    <div class="courses_description_content">
                        <input type="text" name="description" placeholder="Add Description" />


                    </div>
                    <!-- Courses Description -->
                    <div class="courses_description">
                        <h5>Prerequisite Courses</h5>
                    </div>

                    <!-- Single Courses Area Start -->
                    <div class="row">
                        <input type="text" name="prerequisiteIDs" placeholder="Enter IDs'" />
                    </div>
                    <!-- Single Courses Area End -->

                    <!-- Courses Description -->
                    <div class="courses_description">
                        <h5>Related Courses</h5>
                    </div>

                    <!-- Single Courses Area Start -->
                    <div class="row">
                        <input type="text" name="relatedIDs" placeholder="Enter IDs'" />

                    </div>
                    <!-- Single Courses Area End -->
                </div>

                <!-- ==================== Sidebar Area Start ==================== -->
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="sidebar_area">

                        <!-- Single Sidebar Content Start -->
                        <div class="single_sidebar_content">
                            <div class="row">

                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                        <p>Fee:</p>
                                        <input type="text" name="price" placeholder="Add Price" />
                                    </div>
                                </div>

                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <p>Total Seats:</p>
                                        <input type="text" name="seats" placeholder="Add Seat Amounts" />
                                    </div>
                                </div>
                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        <p>Start:</p>
                                        <input type="text" name="start" placeholder="Add Beginning Of Course" />
                                    </div>
                                </div>
                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                        <p>End:</p>
                                        <input type="text" name="end" placeholder="Add End Of Course" />
                                    </div>
                                </div>
                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <p>Location:</p>
                                        <input type="text" name="location" placeholder="Add Location" />
                                    </div>
                                </div>
                                <!-- Single Option -->
                                <div class="col-6 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <p>Duration :</p>
                                        <input type="text" name="duration" placeholder="Add Duration Of Course" />
                                    </div>
                                </div>

                                <!-- Single Option -->
                                <div class="col-12 clearfix">
                                    <div class="single_option clearfix">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <input type="file" name="course_plan" placeholder="Add Course Plan" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Area End -->
            </div>
        </div>
    </section>
    <input class="btn btn-1 btn-default btn-lg active" type="submit" value="Submit" />
</form>
<!-- =============== Courses Details Area End =============== -->

{% endblock %}
