{% extends "layout.html" %}

    {% block mainContent %}
    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Knowledgebase</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Knowledgebase</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- About us area start -->
    <section class="knowledgebase_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">

                    <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">
                        <h3>Admission <span>Releted</span></h3>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" aria-expanded="true" aria-controls="ad_one" data-toggle="collapse" data-parent="#accordion" href="#ad_one">How can I apply for a job?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="ad_one" class="accordion-content collapse in">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" class="collapsed" aria-expanded="true" aria-controls="ad_two" data-parent="#accordion" data-toggle="collapse" href="#ad_two">Where can I find out about events?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="ad_two" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" aria-expanded="true" aria-controls="ad_three" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#ad_three">Who can use the libraries? 
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="ad_three" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" aria-expanded="true" aria-controls="ad_four" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#ad_four">Are there campus tours for visitors?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="ad_four" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" aria-expanded="true" aria-controls="ad_five" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#ad_five">What is the phone number for the University? 
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="ad_five" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">
                        <h3>Faculty <span>Releted</span></h3>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" aria-expanded="true" aria-controls="fa_one" data-toggle="collapse" data-parent="#accordion" href="#fa_one">How can I apply for a job?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="fa_one" class="accordion-content collapse in">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" class="collapsed" aria-expanded="true" aria-controls="fa_two" data-parent="#accordion" data-toggle="collapse" href="#fa_two">Where can I find out about events?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="fa_two" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" aria-expanded="true" aria-controls="fa_three" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#fa_three">Who can use the libraries? 
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="fa_three" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" aria-expanded="true" aria-controls="fa_four" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#fa_four">Are there campus tours for visitors?
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="fa_four" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                        <!-- single accordian area start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" aria-expanded="true" aria-controls="fa_five" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#fa_five">What is the phone number for the University? 
                                        <span class="accor-open">+</span>
                                        <span class="accor-close">-</span>
                                    </a>
                            </h5>
                            <div id="fa_five" class="accordion-content collapse">
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About us area end -->

    <!-- ===================== Cool Facts Area Start ===================== -->
    <section class="cool_facts_area section_padding_60">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <h3><span class="counter">763</span></h3>
                        <h5>Free Courses</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h3><span class="counter">10</span>k+</h3>
                        <h5>STUDENTS ENROLLED</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <h3><span class="counter">251</span></h3>
                        <h5>CERTIFIED TEACHERS</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <h3><span class="counter">7412</span></h3>
                        <h5>Complate Graduates</h5>
                    </div>
                    <!-- Single Cool Facts area End -->
                </div>

            </div>
        </div>
    </section>
    <!-- ===================== Why Chooses Area End ===================== -->

    <!-- ===================== Awesome Feature Area Start ===================== -->
    <section class="awesome_features_area section_padding_100">
        <div class="container">

            <div class="row">
                <!-- Single Feature Area Start -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single_feature">
                        <div class="feature_img">
                            <span class="icon-genius"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Effective Courses</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single_feature">
                        <div class="feature_img">
                            <span class="icon-profile-male"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Best Course Teachers</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single_feature">
                        <div class="feature_img">
                            <span class="icon-compass"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Practical Classes</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single_feature">
                        <div class="feature_img">
                            <span class="icon-gift"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Organised Classroom</h5>
                            <p>Lorem ipsum dolors item amet coti adipisicing elt, sed do eimd at.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Feature Area End -->

            </div>
        </div>
    </section>
    <!-- ===================== Awesome Feature Area End ===================== -->

{% endblock %}