{% extends "layout.html" %} {% block mainContent %}

<!-- ===================== Breadcumb area start ===================== -->
<section class="breadcumb_area" style="background-image: url(img/bg-pattern/breadcumb.jpg);">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcumb_section">
                    <!-- Breadcumb page title start -->
                    <div class="page_title">
                        <h3>Teacher</h3>
                    </div>
                    <!-- Breadcumb page pagination start -->
                    <div class="page_pagination">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li>Teacher Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================== Breadcumb area end ===================== -->

<!-- ================= All Our Teacher Area Start =============== -->
<section class="all_our_teacher_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <!-- Teacher Full Image Start -->
                <div class="teacher_full_image">
                    <img src="{{teacher.get('image', '')}}" alt="">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <!-- Teacher Details Info Area Start -->
                <div class="teacher_details_info">
                    <!--<p>{{teacher}}</p>-->
                    <!-- Teacher Name Designation Start -->
                    <div class="name_designation">
                        <h3>{{teacher.get('TeacherName', '')[0].title()}}</h3>
                        <h5>{{teacher.get('TeacherPosition', '')[0].title()}}</h5>
                    </div>
                    <!-- About Teacher Start -->
                    <div class="about_teacher">
                        {{teacher.get('TeacherDetails', '')[0].title()}}
                    </div>
                    <!-- Teacher Contact Info Start -->
                    <div class="teacher_contact_info">
                        <!-- Single Contact Info Start -->
                        {% if teacher.get('TeacherAddress', ''): %}
                        <div class="tea_single_contact_info">
                            <div class="contact_icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="contact_data">
                                <p>{{teacher.get('TeacherAddress', '')}}</p>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Single Contact Info Start -->
                        {% if teacher.get('TeacherEmail', ''): %}
                        <div class="tea_single_contact_info">
                            <div class="contact_icon">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                            <div class="contact_data">
                                <p>{{teacher.get('TeacherEmail', '')}}</p>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Single Contact Info Start -->
                        {% if teacher.get('TeacherContact', ''): %}
                        <div class="tea_single_contact_info">
                            <div class="contact_icon">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </div>
                            <div class="contact_data">
                                <p>{{teacher.get('TeacherContact', '')}}</p>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Single Contact Info Start -->
                        {% if teacher.get('TeacherWebsite', ''): %}
                        <div class="tea_single_contact_info">
                            <div class="contact_icon">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <div class="contact_data">
                                <p>{{teacher.get('TeacherWebsite', '')}}</p>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Single Contact Info Start -->
                        {% if teacher.get('TeacherCertificate', ''): %}
                        <div class="tea_single_contact_info">
                            <div class="contact_icon">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </div>
                            <div class="contact_data">
                                <p>{{teacher.get('TeacherCertificate', '')}}</p>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Single Contact Info Start -->
                        <div class="tea_single_contact_info">
                            <div class="contact_icon social">

                                {% if teacher.get('fb', ''): %} <a href="{{teacher.get('fb', '')}}" target="blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
                            </div>
                            <div class="contact_icon social">
                                {% if teacher.get('twitter', ''): %} <a href="{{teacher.get('twitter', '')}}" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>{% endif %}
                            </div>
                            <div class="contact_icon social">
                                {% if teacher.get('googleplus', ''): %} <a href="{{teacher.get('googleplus', '')}}" target="blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>{% endif %}
                            </div>
                            <div class="contact_icon social">
                                {% if teacher.get('pinterest', ''): %} <a href="{{teacher.get('pinterest', '')}}" target="blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>{% endif %}
                            </div>
                            <div class="contact_icon social">
                                {% if teacher.get('youtube', ''): %} <a href="{{teacher.get('youtube', '')}}" target="blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>{% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Teacher Contact Info End -->
                </div>
                <!-- Teacher Details Info Area End -->
            </div>
        </div>
    </div>
</section>
<!-- ===================== All Our Teacher Area End ==================== -->

<!-- ===================== Cool Facts Area Start ===================== -->
<section class="cool_facts_area section_padding_100_70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <!-- Single Cool Facts area Start -->
                <div class="cool_fact_text">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h3><span class="counter">{{stat['freeCourses']}}</span></h3>
                    <h5>Free Courses</h5>
                </div>
                <!-- Single Cool Facts area End -->
            </div>

            <div class="col-12 col-sm-3">
                <!-- Single Cool Facts area Start -->
                <div class="cool_fact_text">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3><span class="counter">{{stat['studentEnrolled']}}</span>+</h3>
                    <h5>STUDENTS ENROLLED</h5>
                </div>
                <!-- Single Cool Facts area End -->
            </div>

            <div class="col-12 col-sm-3">
                <!-- Single Cool Facts area Start -->
                <div class="cool_fact_text">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    <h3><span class="counter">{{stat['teachers']}}</span></h3>
                    <h5>CERTIFIED TEACHERS</h5>
                </div>
                <!-- Single Cool Facts area End -->
            </div>

            <div class="col-12 col-sm-3">
                <!-- Single Cool Facts area Start -->
                <div class="cool_fact_text">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <h3><span class="counter">{{stat['complete']}}</span></h3>
                    <h5>Complate Graduates</h5>
                </div>
                <!-- Single Cool Facts area End -->
            </div>

        </div>
    </div>
</section>
<!-- ===================== Why Chooses Area End ===================== -->

<!-- ===================== Our Teacher Area Start ===================== -->
<section class="our_teachers_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_heading">
                    <img src="static/img/teacher-img/teach-icon.png" alt="">
                    <h4>Our Others Teachers</h4>
                </div>
            </div>
        </div>
        <div class="row">


            {% for t in otherTeachers: %}
            <div class="col-12 col-md-3">
                <div class="single_teacher_profile">
                    <a href="/teachers_details?ID={{t.get('tid', '')}}">
                        <div class="teacher_thumb">
                            <img src="static/img/teacher-img/{{t.get('image', '')}}.jpg" alt="">
                        </div>
                    </a>
                    <div class="single_teacher_details_info">
                        <h5>{{t.get('name', '').title()}}</h5>
                        <p>{{t.get('position', '').title()}}</p>
                        <div class="teacher_social_info">
                            <div class="social_icon">
                                {% if t.get('fb', ''): %} <a href="{{t.get('fb', '')}}"><i class="fa fa-facebook"></i></a> {% endif %} {% if t['twitter']: %} <a href="{{t['twitter']}}"><i class="fa fa-twitter"></i></a> {% endif %} {% if t['skype']: %} <a href="{{t['skype']}}#"><i class="fa fa-skype"></i></a>                                {% endif %} {% if t['dribbble']: %} <a href="{{t['dribbble']}}"><i class="fa fa-dribbble"></i></a> {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- ===================== Our Teacher Area End ===================== -->

{% endblock %}
